.card {
  box-shadow: 5px 5px 16px rgb(from var(--primaryDefaultColor) r g b / 0.16);
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  width: 340px;
  transition: transform 0.4s ease-in-out;
  min-height: 18rem;
  align-content: center;
}

.activeCard {
  transform: scale(1.2);
  box-shadow: 5px 5px 16px rgb(from var(--secondaryDefaultColor) r g b / 0.18);
}
.activeCard h2 {
  color: var(--secondaryDefaultColor);
}

.title {
  font-size: 18px;
  margin-bottom: 2rem;
}

.description {
  font-size: 14px;
  margin-bottom: 3rem;
  color: #555;
}

.cardButton {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.cardButton:hover {
  background-color: #218838;
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 2rem;
    width: 270px;
  }
}
