.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.blogHeader {
  margin-top: 6rem;
  position: relative;
  width: 100%;
  height: 70vh;
}

.blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0 0 0 / 32%);
  padding: 15px;
  color: white;
  width: 100%;
}

.category {
  font-size: 12px;
  color: gray;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.description {
  font-size: 16px;
}

.contentContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.blogContent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 15px 0;
}
.detail {
  width: 70%;
}

.relatedItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.relatedImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
  }
  .detail {
    width: 100%;
  }
}
